.mealLogHistory{
    border: 1px solid lightgray;
    width: 70%;
    border-radius: 5px;
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    
    margin-bottom: 30px;
}

.historyTitle{
    border-bottom: 1px solid rgb(196, 193, 193);
    width: 100%;
}

.historyTitle h1{
    padding-bottom: 10px;
}

.eachDay h3{
    font-size: 2vw;
    font-size: max(1rem, 1.5vw);
}

.eachDay p{
    font-size: 1.2vw;
    font-size: max(1rem,vw);
}

.eachDay{
    
    display: grid;
    grid-template-columns: 15vw 20vw 30vw;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(196, 193, 193);
    width: 100%;
    /*grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));*/
   
}


.options{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 10px;
}


.options img{
    width: 20px;
    
}
.options button{
    padding: 0px 0px;
    background-color: white;
    background-image: inherit !important;
    background-color: inherit !important;

}

.options button:focus{
    outline:none;
    border:none;
}

.meals{
    display:flex;
    flex-direction: row;
    gap: 4vw;
}

.totalCalories{
    display:flex;
    width: 100%;
    justify-content: center;
   
}

.calories{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionBox{
    position: absolute;
    top: 0;
    left: 110%;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    border-radius: 0.20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.optionBox button{
    background-color: inherit !important;
    background-color: white;
    padding: 0.10rem 1rem;
    width: 100%;
    color: black;
    border-radius: 0px;
    padding: 5px 0px;
}
.optionBox button + button{
    border-top: 1px solid #ccc;
    border-radius: 0px;
}

.changegreen{
    color: green;
}

.changered{
    color: red;
}