.topBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.topBox button{
    color: black;
    background-color: white;
    background-image: inherit !important;
    width: 5px;
    height:10px;
}
.workoutOptions{
    padding: 10px 0px;
}

.types select{
    height: 35px;
    width: 155px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 10px;
}

.types button{
    background-image: inherit !important;
}

.saveButton button{
    background-color: black;
    background-image: inherit !important;
}