.summaryPage{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    gap: 20px;
}

.top{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}



.editButton{
    display:flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}
.editButton button{
    background-color: black;
    background-image: inherit !important;
    border-radius: 5px;
}


.boxes{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 70%;
    padding: 20px 20px;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.cardioSection{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.intervalSection{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.strengthSection{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.yogaSection{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.progressrow{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.progress{
    width:200px;
    background: #eee;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    position: relative;
    margin-bottom: 8px;
}

.progressbar{
    height: 100%;
    background-color: #3f51b5;
    border-radius: 8px;
}

.todayBox{
    border: 1px solid #3f51b5;
    border-radius: 5px;
    width: 70%;
    padding: 20px 20px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 16px rgba(22, 61, 201, 0.15);
}

.todayBox button{
    background-color: rgb(190, 3, 3);
    width: 10%;
}


.progressInfo{
    display:flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}