.overall{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.forgotPasswordBox{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px 10px;
    flex-direction: column;
    gap: 20px;
}

.forgotPasswordBox h1{
    font-size: 40px;
}

.forgotPasswordBox p{
    font-size: 15px;
    color: grey;
}


.emailForm{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.returnToLogin{
    color: blue;

}